<template>
    <span>
        <input id="email" type="email" class="form-control input-price" name="email"
               required autofocus
               v-model="price">
        <a href="javascript:void(0);"
           v-show="!saved && !error"
           @click="save()">сохранить</a>
        <span v-show="saved" style="color:green">сохранено</span>
        <span v-if="error" style="color:red">ошибка</span>
    </span>
</template>


<script>
    export default {
        name : 'edit-price',
        props: {
            product: {},
        },
        data() {
            return {
                price: this.product.price,
                saved : false,
                error : false,
            }
        },
        mounted() {
        },
        methods   : {
            save() {
                let self = this;

                axios.post('/price_save', {
                    id   : this.product.id,
                    price: this.price,
                })
                    .then(function (response) {

                        if (response.data.success) {

                            self.saved = true;
                            setTimeout(function () {
                                self.saved = false;
                            }, 500);


                        } else {

                            self.error = true;
                            setTimeout(function () {
                                self.error = false;
                            }, 500);

                        }
                    })
                    .catch(function (error) {

                    });
            },
        },
    }
</script>
